:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Scada", sans-serif;
  --primary-color: #ffdda7;
  --accent-color: #2d2d2d;
  --additional-color: #3e3e3d;
  --black-color: black;
  --white-color: white;
}

html,
body {
  width: 1920px;
}

html {
  overflow-x: hidden;
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
